@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.body{
    margin: 0px;
    font-size: 'PT Sans', sans-serif;
}
.menu-container{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
}
.menu-container img{
    width: 85px;
}
.logo-container{
    display: flex;
    align-items: center;
}
.logo-container img{
    width: 4em;
}
.logo-container div{
    font-family: 'Poired one', cursive;
    color: red;
}

.main-container{
    min-height: 100vh;
    width: 100%;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list-menu{
    background-color: skyblue;
    display: block;
    position: fixed;
    top: 6em;
    right: 0px;
    text-align: center;
    height: 100vh;
    width: 50%;
    border-radius: 20px 0px 0px 0px;
    transform: translateX(100%);
    transition: all 1s;
    z-index: 9;
}
.list-menu li{
    list-style: none;
    margin-top: 2em;
}
.list-menu li a{
    color: black;
}

.active-menu {
    transform: translateX(0%);
}

@media screen and (min-width:720px) and (orientation:landscape)
{
    #menu-btn{
        display: none;
    }
    .list-menu{
        transform: translateX(0%);
        position: static;
        width: 100%;
        height: auto;
        text-align: left;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
        margin: 0px;
        background-color: transparent;
    }
    .list.menu li{
        margin-top: 0em;
    }
    .list-menu li a img{
        width: 3em;
    }
    .main-menu{
        width: 25%;
    }
}
